<div class="row">
  <aside class="col-md-3">
    <app-catalog-search></app-catalog-search>
    <div class="card tags-card">
      <div class="card-block">
        <h5 class="card-title">Filter by tag</h5>
        <ul class="list-group">
          <li class="list-group-item tag" [class.active]="tag === selectedTag"
              *ngFor="let tag of tags" (click)="filterDatasets(tag)">{{ tag }}
          </li>
        </ul>
      </div>
    </div>
  </aside>
  <div class="col-md-9 catalog">
    <app-dataset *ngFor="let dataset of datasets" [dataset]="dataset"></app-dataset>
  </div>
</div>
